// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
	--ff: 'Open Sans', sans-serif;
	
	--transition: .3s all ease-in-out;

	--c-white: #fff;
	--c-black: #000; 
	--c-dark: #021c1e; 
	--c-grey: #cdd0dd; 
	--c-green: #2c7873;
	--c-lightgreen: #70c394;
	--c-light: #fcfcfa;
	--c-light-transp: rgba(252, 252, 250, 0.7);
	--c-dark-transp: rgba(0, 0, 0, 0.8);

	--c-gradient-light: linear-gradient(0deg, rgba(252,252,250,0.5) 0%, rgba(215,255,232,0.5) 35%, rgba(126,204,199,0.3) 100%);
	--c-gradient-dark: linear-gradient(0deg, rgba(7, 48, 45, 0.8) 0%, rgba(2,28,30,0.7) 35%, rgba(0,0,0,0.7) 100%);
}


