.contact {
    text-align: center;
    &__title-main {
        display: inline-block;
        position: relative;
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 10rem;
        @include tablet {
            flex-direction: column;
            gap: 30rem;
        }
    }

    &__info { 
        flex: 0 0 calc(50% - 30rem);
        text-align: center;
    }
    &__title { 
        font-size: 28rem;
        font-weight: 600;
        margin-bottom: 10rem;
    }
    &__desc {
        font-size: 16rem;
        font-weight: 400;
        margin-bottom: 20rem;
    }
    &__data { 
        display: flex;
        flex-direction: column;
        gap: 15rem;
        @include tablet {
            align-items: center;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 26rem;
        color: var(--c-light);
        font-size: 18rem;
        font-weight: 400;
        transition: var(--transition);
        & svg:hover {
            path {
                fill: var(--c-lightgreen);
            }
        }
    }
    
    &__form { 
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(50% - 30rem);
        gap: 15rem;
        @include tablet {
            width: 100%;
        }
    }
    &__input, &__textarea {
        border: none;
        min-width: 100%;
        padding: 12rem 18rem;
        background: var(--c-gradient-light);
        box-shadow: 5rem 2rem 15rem 0 rgba(0, 0, 0, 0.25);
        border-radius: 15rem;
        font-family: var(--ff);
        font-weight: 400;
        font-size: 16rem;
        line-height: 200%;
        color: var(--c-light);
        &::placeholder {
            color: var(--c-grey);
            line-height: 256%;
        }
        &:focus {
            outline: 2rem solid rgba(112, 195, 148, 0.8);
        }
    }
    &__textarea {
        resize: vertical;
        min-height: 100rem;
        max-height: 200rem;
    }
    &__btn {
        color: var(--c-dark);
        font-size: 16rem;
        font-weight: 700;
        background: var(--c-lightgreen);
        padding: 15rem 25rem;
        border-radius: 15rem;
        max-width: 200rem;
        text-align: center;
        align-self: center;
        &:hover {
            transform: scale(1.05);
            color: var(--c-light);
        }
    }
}
