.experience {
    text-align: center;
    &__title {
        display: inline-block;
        position: relative;
    }

	&__list { 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20rem;
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include tablet-small {
            flex-wrap: wrap;
        }
    }
	&__item {
        padding: 30rem 0;
        border-radius: 15rem;
        background: var(--c-light-transp);
        box-shadow: 5rem 2rem 15rem 0 rgba(0, 0, 0, 0.25);
        text-align: center;
        align-self: stretch;
        transition: var(--transition);
        @include tablet {
            flex: 0 0 calc((100% - 20rem*2)/3);
        }
        @include tablet-small {
            flex: 0 0 calc((100% - 20rem)/2);
        }
        @include mobile {
            flex: 100%;
        }
    }
    &__period {
        color: var(--c-lightgreen);
        background: var(--c-dark-transp);
        width: 100%;
        padding: 5rem;
        font-size: 26rem;
        font-weight: 600;
        margin-bottom: 10rem;
        @include desktop-small {
            font-size: 22rem;
        }
        @include tablet-small {
            font-size: 20rem;
        }
    }
	&__name {
        color: var(--c-dark);
        font-size: 24rem;
        font-weight: 700;
        margin: 0 20rem 10rem;
        @include desktop-small {
            font-size: 20rem;
        }
        @include tablet-small {
            font-size: 18rem;
        }
    }
	&__place {
        margin: 0 20rem 10rem;
        color: var(--c-dark);
        font-size: 16rem;
        font-weight: 400;
     }
}
