.navbar-container {
    max-width: 80vw !important;
    width: 20%;
    position: relative;

    .burger-box {
        position: fixed;
        z-index: 11;
        top: 10rem;
        left: 10rem;
        border-radius: 5rem;
    }

    .navbar-burger {
        display: none;
        background: var(--c-lightgreen);
        border-radius: 3rem;
        transition: var(--transition);

        &:hover {
            background: var(--c-light);
        }
    
        &.active {
            left: 130rem;
            background: transparent;
        }
    
        &.active:before {
            transform: rotate(45deg);
            top: 15rem;
            background: var(--c-light);
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 15rem;
            background: var(--c-light);
        }
        &.active span {
            transform: scale(0);
            background: var(--c-light);
        }
    
        @include tablet {
            display: block;
            position: relative;
            cursor: pointer;
            width: 44rem;
            height: 33rem;
            z-index: 10;
             
            & span {
                position: absolute;
                background: var(--c-dark);
                left: 10%;
                width: 80%;
                height: 3rem;
                top: 15rem;
                transition: var(--transition);
            }
            
            &::before,
            &::after {
                content: "";
                background: var(--c-dark);
                position: absolute;
                width: 80%;
                height: 3rem;
                left: 10%;
                transition: var(--transition);
            }
            &::before {
                top: 15%;
            }
            &::after {
                bottom: 15%;
            }
        }
    }
    
    .navbar {
        position: fixed;
        left: 5%;
        top: 0;
        height: 100vh;
        max-height: 100vh !important;
        max-width: 80vw !important;
        width: 20%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
        padding: 20rem 0;
        transition: var(--transition);
        background: var(--c-gradient-dark);
    
        @include tablet {
            left: -100%;
            width: 320rem;
    
            &.active {
                left: 0;
                transition: var(--transition);
            }
        }
    
        &__logo {
            max-width: 120rem;
            position: relative;
            margin-top: 15rem;
            span {
                display: block;
                position: absolute;
                bottom: 10rem;
                left: 20%;
                width: 60%;
                height: 2rem;
                background: var(--c-light);
            }

            @include tablet {
                opacity: 0;
            }
        }
    
        &__nav {
            transition: var(--transition);
            overflow: auto;
            padding: 10rem 0; 
            width: 100%;  
        }
    
        &__ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__li {
            width: 100%;
            text-align: center;
            padding: 20rem 0;
            border-bottom: 2rem solid var(--c-light);
            &:first-child {
                border-top: 2rem solid var(--c-light);
            }
            &:hover {
                background: var(--c-lightgreen);
            }
        }
    
        &__a {
            color: var(--c-light);
            text-shadow: 0 0 2rem var(--c-dark);
            font-size: 24rem;
            font-weight: 700;
            transition: var(--transition);
            position: relative;
    
            @include tablet {
                
            }
    
            @include tablet-small {
                color: var(--c-light);
                font-size: 30rem;
            }
        }
    
        &__copyright {
            color: var(--c-white);
            font-size: 16rem;
            margin-bottom: 15rem;
         }
    
        &__socials { 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 30rem;
            transition: var(--transition);
            & svg:hover {
                path {
                    fill: var(--c-lightgreen);
                }
            }
        }
    }
}


