.skills {
    text-align: center;
    &__title {
        display: inline-block;
        position: relative;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // gap: 30rem;
        }
        @include mobile {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // gap: 20rem;
        }
    }

	&__item { 
        display: flex;
        flex-direction: column;
        gap: 10rem;
        align-items: center;
        padding: 0 0 5rem 0;
        max-width: 90rem;
        background: var(--c-light);
        border-radius: 5rem;
        box-shadow: 5rem 2rem 15rem 0 rgba(0, 0, 0, 0.25);
        text-align: center;
        color: var(--c-dark);
        transition: var(--transition);
        height: 100%;

        @include mobile {
            max-width: auto;
        }
    }

	&__item-image { 
        width: 100%;
        background: var(--c-gradient-dark);
        border-radius: 5rem 5rem 0 0;
        img {
            border-radius: 5rem 5rem 0 0;
        }
    }
}